@media only screen and (max-width: 600px) {
    header {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        
        .tabs {
            display: none;
        }
        .asdasd {
            display: flex;
            img {
                height: 35px;
                align-self: center;
            }
        }
    }
    .tabs {
        z-index: 0;
    }
    .tabsM {
        display: flex;
        position: relative;
        justify-content: space-around;

        .mainMenu {
            animation: all linear 5s;
            p, li, summary {
                font-size: 15px;
            }
        }
    }
    .tab.active {
        box-shadow: 0 2px 0 0 #4caf50 ;
    }
    .main {
        padding: 10px;
        .payrollSummary {
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr 1fr;

            h3 {
                font-size: 15px;
                grid-area: 1 / 1 / 2 / 3;
                span {
                    font-size: 13px;
                    margin-left: auto;
                }
            }
            .salaryContainer {
                flex-direction: column;
                align-items: center;
                grid-area: 2 / 1 / 2 / 3;
                
            }
            .salaryDetailsSection {
                gap: 0;
                display: flex;
                justify-content: space-evenly;

                p {
                    font-size: 12px;
                    padding: 5px;

                    img {
                        height: 18px;
                        width: 18px;
                    }
                    span {
                        font-size: 15px;
                    }
                }
            }
        }
        h2 {
            font-size: 15px;
            margin-left: 10px;
        }
        .asd {
            font-size: 12px;
            display: grid;
            gap: 10px;

            .addSectionContainer {
                width: calc(100% + 10px);
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
            }
            input {
                width: 100%;
                text-align: center;
            }
            #workType {
                width: 100%;
            }
            button {
                grid-column: span 2;
                width: 100%;
            }
        }
        th, td {
            font-size: 12px;
        }
        section {
            overflow: hidden;
            overflow-x: scroll;
        }
        .footer {
            width: 100%;
            background: rebeccapurple;

            column-count: 3;
            tr {
                th::nth-child(1) {
                    column-span: 3;
                }
            }
        }
    } 
    .actives {
        height: 1vh;
        overflow: hidden;
    }   
    #workType {
        width: 10px;
    }
}
